@model Stokvel_Groups_Home_RSA.Models.PenaltyFee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PenaltyFee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Invoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Invoice.InvoiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PenaltyFeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
