@model IEnumerable<Stokvel_Groups_Home_RSA.Models.PenaltyFee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyLevel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PenaltyFeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PenaltyFeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PenaltyFeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
