@using Stokvel_Groups_Home_RSA.Models.GroupedTables
@model AccountInvoice 

<!-- row -->
<div class="row column1">
    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                    <h2>Member Turn</h2>
                </div>
            </div>
            <div class="full price_table padding_infor_info">
                <div class="row">
                    <div class="row d-flex justify-content-left align-items-center h-100">
                       
                        @foreach (var item in Model.Account)
                        {
                            <!-- Begin .page-heading -->
                            <div class="page-heading">
                                <div class="media clearfix">
                                    <div class="media-left pr30">
                                        <a href="#">
                                            @if (@ViewBag.image != @item.ApplicationUser.MemberPhotoPath)
                                            {
                                                <img class="media-object mw150" src="@Url.Content("~/images/MemberProfile/" + @item.ApplicationUser.MemberFileName)" />
                                            }
                                            else
                                            {
                                                <img class="media-object mw150" src="@Url.Content("~/images/Profile/" + @item.ApplicationUser.MemberFileName)" />
                                            }
                                        </a>
                                    </div>
                                    <div class="media-body va-m">
                                        <h2 class="media-heading">
                                            @item.ApplicationUser.FirstName @item.ApplicationUser.LastName
                                            <small> - Profile</small>
                                        </h2>
                                        <p class="lead">
                                            @ViewBag.NextMonth month is dedicated to a Stokvel home group member, @item.ApplicationUser.FirstName @item.ApplicationUser.LastName. Please remember to deposit before the 25th of @ViewBag.NextMonth month to avoid penalty fees. Happy Stokvel!
                                        </p>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <span class="panel-icon">
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                        <span class="panel-title"> Member Number: </span>
                                                    </div>
                                                    <div class="panel-body pn">
                                                        <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                                                            <thead>
                                                                <tr class="hidden">
                                                                    <th class="mw30">#</th>
                                                                    <th>First Name</th>
                                                                    <th>Revenue</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <span class="fa fa-arrow-up text-success"></span>
                                                                    </td>
                                                                    <td>Deposited Amount</td>
                                                                    <td>
                                                                        <i class="fa fa-caret-up text-info pr10"></i>R @ViewBag.DepositedAmount
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="fa fa-arrow-down text-danger"></span>
                                                                    </td>
                                                                    <td>Outstanding Amount</td>
                                                                    <td>
                                                                        <i class="fa fa-caret-down text-danger pr10"></i>R @ViewBag.Outstanding.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span class="fa fa-balance-scale text-info"></span>
                                                                    </td>
                                                                    <td>Target Amount</td>
                                                                    <td>
                                                                        <i class="fa fa-caret-up text-info pr10"></i>R @ViewBag.TargetAmount
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        @if(@ViewBag.Invoice == null){
                        <!-- partial:index.partial.html -->
                        <section-timeline class="cd-horizontal-timeline position-sticky border-1 mt-5 dash_head">
                            <div class="timeline">
                                <div class="events-wrapper">
                                    <div class="events">
                                        <ol>
                                            @foreach (var memberInDb in @ViewBag.Invoice as ICollection<DateTime>)
                                            {
                                                <li>
                                                    <a href="#0" data-date="@memberInDb.ToString("dd/MM/yyyy")">
                                                        @memberInDb.ToString("MMM") @memberInDb.Day
                                                    </a>
                                                </li>
                                            }
                                        </ol>
                                        <span class="filling-line" aria-hidden="true"></span>
                                    </div> <!-- .events -->
                                </div> <!-- .events-wrapper -->

                                <ul class="cd-timeline-navigation">
                                    <li><a href="#0" class="prev inactive">Prev</a></li>
                                    <li><a href="#0" class="next">Next</a></li>
                                </ul> <!-- .cd-timeline-navigation -->
                            </div> <!-- .timeline -->

                            <div class="events-content">
                                <ol>
                                    @foreach (var member in @ViewBag.Invoice as ICollection<DateTime>)
                                    {
                                        <li data-date="@member.ToString("dd/MM/yyyy")">
                                            <h2>PAID TO GROUP ACCOUNT</h2>
                                            @foreach (var items in Model.Invoice.Where(d => d.InvoiceDate.Value.Day == member.Day).OrderBy(d => d.InvoiceDate.Value.Hour).ToList())
                                            {
                                                <em>@items.Account.ApplicationUser.FirstName @items.Account.ApplicationUser.LastName</em>
                                                <p>
                                                    Member paid R @items.TotalAmount. Thank you for your payment.
                                                </p>
                                            }
                                        </li>
                                    }
                                </ol>
                            </div> <!-- .events-content -->
                        </section-timeline>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




									