@using Stokvel_Groups_Home_RSA.Models.GroupedTables
@model PreDepositMembers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Lst = ViewBag.MemberPaid as IEnumerable<int>;
}



<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2>Group Members</h2>
        </div>
    </div>
</div>


@if (Model.Account.Select(x=>x.Group.Active).FirstOrDefault() != true)
{
    @if (User.IsInRole("Manager") || User.IsInRole("SuperUser"))
    {
        <nav aria-label="breadcrumb" class="bg-white rounded-3 p-3 mb-4">
            @using (Html.BeginForm("StartStokvel", "Accounts", FormMethod.Get))
            {
                @Html.Hidden("groupId", (object)Model.Account.Select(x=>x.GroupId).FirstOrDefault())
                @Html.Hidden("accountId", (object)Model.Account.Select(x => x.AccountId).FirstOrDefault())
                <button type="submit" class="btn btn-outline-danger">  Start Stokvel</button>
            }

        </nav>
    }

}



@if (ViewBag.StokvelActive = true)
{
    @* @await Component.InvokeAsync("MemberTurnProfile") *@
}



<alerts></alerts>



<!-- row -->
<div class="row column1">
    <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                    <h2>Group Members</h2>
                </div>
            </div>
            <div class="full price_table padding_infor_info">
                <div class="row">
                    <div class="row d-flex justify-content-left align-items-center h-100">
                        @foreach (var item in Model.ApplicationUser)
                        {
                            @foreach (var member in Model.Account.Where(x => x.Id == item.Id && x.Accepted == true))
                            {
                                <!-- column member -->

                                <div class="col-md-12 col-xl-4 mt-5">

                                    <div class="card" style="border-radius: 15px;">
                                        <div class="card-body text-center">
                                            <div class="mt-3 mb-4">
                                                @if (Url.Content(item?.MemberPhotoPath) != @ViewBag.image)
                                                {
                                                    <img src="@Url.Content("~/images/MemberProfile/" + @item?.MemberFileName)" height="120px" width="120px" />
                                                }
                                                else
                                                {

                                                    <img src="@Url.Content("~/images/Profile/" + @item?.MemberFileName)" height="120px" width="120px" />

                                                }
                                            </div>
                                            <h4 class="mb-2">@Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</h4>
                                            @if (member?.Accepted == true)
                                            {
                                                <p class="text-muted mb-4">
                                                    Is A Memebr Of <span class="mx-2">|</span> @Html.DisplayFor(modelItem => member.Group.GroupName)
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="text-muted mb-4">
                                                    Would Like To Join <span class="mx-2">|</span> @Html.DisplayFor(modelItem => member.Group.GroupName)
                                                </p>
                                            }

                                            <p class="mb-0 text-uppercase">

                                                @if (item?.Id == ViewBag.UserId)
                                                {

                                                    @Html.Hidden("accountId", (object)@member.AccountId)
                                                    <a asp-controller="Deposits" asp-action="Create" class="btn btn-primary  btn-rounded btn-lg " asp-route-accountId="@member.AccountId" asp-route-groupId="@member?.Group?.GroupId">Deposit</a>


                                                    <br />
                                                    <br />
                                                    @using (Html.BeginForm("Index", "Messages", FormMethod.Get))
                                                    {
                                                        @Html.Hidden("id", (object)@member.AccountId)
                                                        @Html.Hidden("groupId", (object)@member.Group.GroupId)

                                                        <button type="submit" class="btn btn-success btn-xs">
                                                            <i class="fa fa-user">
                                                            </i> <i class="fa fa-comments-o"></i>
                                                        </button>
                                                    }
                                                    <br />
                                                    <a class="btn btn-info btn-rounded btn-lg text-white" asp-controller="Calendars" asp-action="Index" asp-route-groupId="@member.Group.GroupId">Calendar Events</a>
                                                }
                                                else
                                                {
                                                    @if (@member.PreDeposit != null)
                                                    {
                                                        @if (@member.PreDeposit.Amount == member.Group.AccountTarget / (member.Group.TotalGroupMembers - 1))
                                                        {
                                                            <a class="btn btn-success btn-rounded btn-lg text-white">Ready</a>
                                                            <br />
                                                            <br />

                                                            @using (Html.BeginForm("Index", "Messages", FormMethod.Get))
                                                            {
                                                                @Html.Hidden("id", (object)@member.AccountId)
                                                                @Html.Hidden("groupId", (object)@member.GroupId)

                                                                <button type="submit" class="btn btn-success btn-xs" >
                                                                    <i class="fa fa-user">
                                                                    </i> <i class="fa fa-comments-o"></i>
                                                                </button>

                                                                <br />
                                                                <br />
                                                                <a class="btn btn-info btn-rounded btn-lg text-white disabled" asp-route-groupId="@member?.Group?.GroupId">Calendar Events</a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-danger btn-rounded btn-lg text-white">Not Ready</a>
                                                            <br />
                                                            <br />

                                                            @using (Html.BeginForm("Index", "Messages", FormMethod.Get))
                                                            {
                                                                @Html.Hidden("id", (object)@member.AccountId)
                                                                @Html.Hidden("groupId", (object)@member.Group.GroupId)

                                                                <button type="submit" class="btn btn-success btn-xs" disabled>
                                                                    <i class="fa fa-user">
                                                                    </i> <i class="fa fa-comments-o"></i>
                                                                </button>
                                                            }

                                                            <br />
                                                            <a class="btn btn-info btn-rounded btn-lg text-white disabled" asp-controller="Calendars" asp-action="Index" asp-route-groupId="@member.Group.GroupId">Calendar Events</a>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-danger btn-rounded btn-lg text-white">Not Ready</a>
                                                        <br />
                                                        <br />

                                                        @using (Html.BeginForm("Index", "Messages", FormMethod.Get))
                                                        {
                                                            @Html.Hidden("id", (object)@member.AccountId)
                                                            @Html.Hidden("groupId", (object)@member.Group.GroupId)

                                                            <button type="submit" class="btn btn-success btn-xs" >
                                                                <i class="fa fa-user">
                                                                </i> <i class="fa fa-comments-o"></i>
                                                            </button>
                                                        }

                                                        <br />
                                                        <a class="btn btn-info btn-rounded btn-lg text-white disabled" asp-controller="Calendars" asp-action="Index" asp-route-groupId="@member.Group.GroupId">Calendar Events</a>

                                                    }

                                                }
                                                @if (@member.AccountQueueStart.Month == DateTime.Now.Month)
                                                {
                                                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                                    {
                                                        <a asp-controller="WithdrawDetails" asp-action="Create" class="btn btn-warning btn-rounded btn-lg" asp-route-id="@member.AccountId">Credit</a>

                                                        <br />
                                                        <br />

                                                        @using (Html.BeginForm("Index", "Messages", FormMethod.Get))
                                                        {
                                                            @Html.Hidden("id", (object)@member.AccountId)
                                                            @Html.Hidden("groupId", (object)@member.Group.GroupId)

                                                            <button type="submit" class="btn btn-success btn-xs">
                                                                <i class="fa fa-user">
                                                                </i> <i class="fa fa-comments-o"></i>
                                                            </button>

                                                            <br />
                                                            <br />
                                                            <a class="btn btn-info btn-rounded btn-lg text-white" asp-route-groupId="@member.Group.GroupId">Calendar Events</a>

                                                        }
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-success btn-rounded btn-lg text-white">Ready</a>
                                                        <br />
                                                        <br />

                                                        @using (Html.BeginForm("Index", "Messages", FormMethod.Get))
                                                        {
                                                            @Html.Hidden("id", (object)@member.AccountId)
                                                            @Html.Hidden("groupId", (object)@member.Group.GroupId)

                                                            <button type="submit" class="btn btn-success btn-xs">
                                                                <i class="fa fa-user">
                                                                </i> <i class="fa fa-comments-o"></i>
                                                            </button>
                                                        }

                                                        <br />
                                                        <br />
                                                        <a class="btn btn-info btn-rounded btn-lg text-white" asp-route-groupId="@member.Group.GroupId">Calendar Events</a>
                                                    }}

                                            </p>
                                            <div class="d-flex justify-content-between text-center mt-5 mb-2">
                                                <div>
                                                    <p class="mb-2 h5">5</p>
                                                    <p class="text-muted mb-0">Groups Joind</p>
                                                    <a asp-controller="InvoiceDetails" asp-action="Payment" class="btn btn-outline-primary  btn-rounded btn-sm " asp-route-id="@member.AccountId" asp-route-groupId="@member.Group.GroupId">Payments</a>
                                                </div>

                                                <div class="px-3">
                                                    <p class="mb-2 h5">@Html.DisplayFor(modelItem => member.AccountId)</p>
                                                    <p class="text-muted mb-0">Member Id</p>
                                                    <a asp-controller="Invoices" asp-action="index" class="btn btn-outline-primary  btn-rounded btn-sm " asp-route-id="@member.AccountId">Invoice</a>
                                                </div>
                                                <div>
                                                    <p class="mb-2 h5">Gold</p>
                                                    <p class="text-muted mb-0">Account Status</p>
                                                    <a asp-controller="PenaltyFees" asp-action="index" class="btn btn-outline-primary  btn-rounded btn-sm" asp-route-id="@member.AccountId">Fees</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end column member -->
                            }}
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- end row -->
</div>


<!-- row -->
@if (Model.Account.Select(x => x.Group.Active).FirstOrDefault() != true)
{
    <div class="row column4 graph">
        <div class="col-md-8">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2>Accepted Member List</h2>
                    </div>
                </div>
                <div class="full progress_bar_inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="msg_section">
                                <div class="msg_list_main">
                                    <ul class="msg_list">
                                        @foreach (var item in Model.ApplicationUser)
                                        {
                                            @foreach (var member in Model.Account.Where(x => x.Id == item.Id && x.Accepted == true))
                                            {
                                                <li>
                                                    <span>
                                                        @if (Url.Content(item?.MemberPhotoPath) != ViewBag.image)
                                                        {
                                                            <img src="@Url.Content("~/images/MemberProfile/" + @item?.MemberFileName)" height="80px" width="80px" img class="img-responsive" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@Url.Content("~/images/Profile/" + @item?.MemberFileName)" height="80px" width="80px" img class="img-responsive" />
                                                        }

                                                    </span>
                                                    <span>
                                                        <div class="row">
                                                            <div class="col-md-4 d-lg-grid">
                                                                <span class="name_user">@Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</span>
                                                                <span class="msg_user">Has Been Accepted</span>
                                                            </div>
                                                            <div class="col-md-8 pl-2 pt-2 text-end">
                                                                <p class="mb-0 text-uppercase">
                                                                    @if (item.Id == @ViewBag.UserId)
                                                                    {

                                                                        @using (Html.BeginForm("AcceptedMembers", "Accounts", FormMethod.Get))
                                                                        {
                                                                            @Html.Hidden("id", (object)member.AccountId)
                                                                            @Html.Hidden("groupName", (object)member.Group.GroupName)
                                                                            @Html.Hidden("accountType", (object)ViewBag.AccountType)
                                                                            @Html.Hidden("groupId", (object)member.GroupId)
                                                                            @Html.Hidden("acceptStatus", (bool)false)
                                                                            <button type="submit" class="btn btn-danger btn-rounded btn-lg "><i class="fa fa-sign-out"></i>  Remove Member</button>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                                                                        {
                                                                            @if (item.Id != ViewBag.UserId)
                                                                            {
                                                                                @using (Html.BeginForm("AcceptedMembers", "Accounts", FormMethod.Get))
                                                                                {
                                                                                    @Html.Hidden("id", (object)member.AccountId)
                                                                                    @Html.Hidden("groupName", (object)member.Group.GroupName)
                                                                                    @Html.Hidden("accountType", (object)member.Group.TypeAccount)
                                                                                    @Html.Hidden("groupId", (object)member.GroupId)
                                                                                    @Html.Hidden("acceptStatus", (bool)false)
                                                                                    <button type="submit" class="btn btn-danger btn-rounded btn-lg "><i class="fa fa-sign-out"></i>  Remove Member</button>
                                                                                }
                                                                            }
                                                                        }}
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </span>
                                                </li>
                                            }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}







