@model IEnumerable<Deposit>
@{
    int count = 0;
    
}

<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2>Dashboard</h2>
        </div>
    </div>
</div>

<!-- dashboard inner -->
@for (int i = 0; i < ViewBag.MemberGroups.Count; i++)
{
    <p hidden>@(count++)</p>

    

    <div class="row column1">
        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-user yellow_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <p class="head_couter">Account</p>
                        <p class="head_couter">@count</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <p class="head_couter">Last Deposit</p>
                        <p class="head_couter">R: @ViewBag.lastDepositDate[i]</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-money green_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <p class="head_couter">Group PayOut</p>
                        <p class="head_couter">R: @ViewBag.totalAmount[i]</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-hourglass red_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <p class="head_couter">Amount Due</p>
                        <p class="head_couter">R: @ViewBag.TotalDepositDue[i]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





<!-- Calendar section -->
<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</h2>
            </div>
        </div>
   
        <div class="full progress_bar_inner m-3 position-sticky">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="w-75 position" id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="row column4 graph">
    <!--Member Queue Date -->
   
      @*   @if (await Component.InvokeAsync("MemberQueueDate") != null)
        {
            @await Component.InvokeAsync("MemberQueueDate")
        } *@

        @if (await Component.InvokeAsync("DailyGroupUpdate") != null)
        {
            @await Component.InvokeAsync("DailyGroupUpdate")
        }
    

    
      @*   @if (await Component.InvokeAsync("MemberQueueDates") != null)
        {
            @await Component.InvokeAsync("MemberQueueDates")
        } *@

        @if (await Component.InvokeAsync("DailyGroupUpdates") != null)
        {
            @await Component.InvokeAsync("DailyGroupUpdates")
        }
    
</div>

